name: pytest-flake8

on:
    push:
        branches:
        -   main
    pull_request:
        branches:
        -   '*'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[jax,doc,test]
      # - name: Flake8
      #   run: |
      #     python -m pip install --upgrade pip flake8 flake8-docstrings flake8-use-fstring
      #     flake8 --verbose .
      - name: Test with pytest
        run: |
          pytest